$df-datepicker-padding-deactivate: 0 !default;
$df-datepicker-padding: 1rem !default;
$df-datepicker-box-shadow: $df-box-shadow !default;
$df-datepicker-radius: 0.25rem !default;
$df-datepicker-navigation-arrow-justify-contents: space-between !default;
$df-datepicker-navigation-arrow-flex: 0 1 auto !default;
$df-datepicker-navigation-literal-font-size: map-get($df-size-ratios, 'lg') * 1rem !default;
$df-datepicker-navigation-literal-font-weight: $df-font-weight-semi-bold !default;
$df-datepicker-navigation-arrow-color: inherit !default;
$df-datepicker-navigation-literal-flex: 1 0 auto !default;
$df-datepicker-day-side: 100% !default;
$df-datepicker-weekday-font-style: normal !default;
$df-datepicker-weekday-font-size: 90% !default;
$df-datepicker-weekday-text-transform: uppercase !default;
$df-datepicker-day-bold: bold !default;
$df-datepicker-day-align-items: center !default;
$df-datepicker-day-display: flex !default;
$df-datepicker-day-size: 2.25rem !default;
$df-datepicker-day-justify-content: center !default;
$df-datepicker-day-border-radius: 0.125rem !default;
$df-datepicker-day-text-align: center !default;
$df-datepicker-day-disabled-color: $df-disabled-color !default;
$df-datepicker-day-disabled-opacity: $df-disabled-opacity !default;
$df-datepicker-day-disabled-cursor: $df-disabled-cursor !default;
$df-datepicker-day-active-color: $blue !default;
$df-datepicker-day-hover-color: $df-hover-bg-color !default;
$df-datepicker-day-hover-text-decoration: underline !default;
$df-datepicker-day-focus-outline-width: 0.2rem !default;
$df-datepicker-day-focus-border: ($df-datepicker-day-focus-outline-width + 0.05rem) solid rgba($input-focus-border-color, 0.5) !default;
$df-datepicker-day-focus-active-z-index: 0 !default;
$df-datepicker-day-focus-active-border-color: rgba($white, 0.5) !default;
$df-datepicker-day-focus-active-border-z-index: -1 !default;
$df-datepicker-day-range-background-color: $df-primary-lighten-60 !default;
$df-datepicker-day-range-color: $primary !default;
$df-datepicker-input-invalid-color: $red !default;
$df-datepicker-input-invalid-z-index: 3 !default;
