$df-h1-letter-spacing: -0.015rem !default;
$df-h2-letter-spacing: -0.01rem !default;
$df-h3-letter-spacing: 0 !default;
$df-h4-letter-spacing: 0.01rem !default;
$df-h5-letter-spacing: 0.01rem !default;
$df-h6-letter-spacing: 0.015rem !default;

$df-display1-letter-spacing: -0.04rem !default;
$df-display2-letter-spacing: -0.035rem !default;
$df-display3-letter-spacing: -0.03rem !default;
$df-display4-letter-spacing: -0.025rem !default;

$df-caption-letter-spacing: 0.025rem !default;
$df-caption-font-size: 0.875rem !default;

$df-blockquote-letter-spacing: -0.01rem !default;
$df-blockquote-font-style: italic !default;
$df-blockquote-line-height: $line-height-base !default;

$df-mark-color: $white !default;

$df-font-weight-semi-bold: 500 !default;
