.btn {
  font-family: $df-btn-font-family;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
  height: initial;
}

//
// Alternate buttons colors, (decomment all element with this comment
// to generate the buttons with color palette)
//
@each $color, $value in $colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

@mixin df-button-create($color, $value) {
  .btn-#{$color} {
    &.df-btn-icononly {
      border: $df-btn-icononly-border;
      width: $df-btn-icononly-width;
      height: $df-btn-icononly-height;
      padding: $df-btn-icononly-padding;
      border-radius: $df-btn-icononly-border-radius;
    }
    @include hover {
      color: color-yiq(df-getBGHoverColor($color));
      @include gradient-bg(df-getBGHoverColor($color));
      border-color: df-getBGHoverColor($color);
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq(df-getBGActiveColor($color));
      background-color: df-getBGActiveColor($color);
    }

    &.disabled,
    &:disabled {
      color: $df-btn-disabled-text-color; // don't need to be wcag
      background-color: $df-btn-disabled-bg-color;
      border-color: $df-btn-disabled-border-color;
    }
  }

  .btn-outline-#{$color} {
    color: black-or-white-or-color($value, $body-bg);
    &.df-btn-icononly {
      border: $df-btn-icononly-border;
      width: $df-btn-icononly-width;
      height: $df-btn-icononly-height;
      padding: $df-btn-icononly-padding;
      border-radius: $df-btn-icononly-border-radius;
    }
    &:not(:disabled):not(.disabled):hover {
      color: black-or-white-or-color($value, df-getBGSecondaryHoverColor($color));
      background-color: df-getBGSecondaryHoverColor($color);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: black-or-white-or-color(df-getBGActiveColor($color), df-getBGSecondaryActiveColor($color));
      background-color: df-getBGSecondaryActiveColor($color);
    }

    &.disabled,
    &:disabled {
      color: $df-btn-outline-disabled-text-color; // don't need to be wcag
      border-color: $df-btn-disabled-border-color;
    }
  }
}

// Modify actual button from bootstrap
@each $color, $value in $theme-colors {
  @include df-button-create($color, $value);
}

//
// Alternate buttons colors, (decomment all element with this comment
// to generate the buttons with color palette)
//
@each $color, $value in $colors {
  // @debug '  "#{$color}": #{$value},';
  @include df-button-create($color, $value);
}

.df-btn-xl {
  @include button-size($df-btn-padding-y-xl, $df-btn-padding-x-xl, $df-btn-font-size-xl, $df-btn-line-height-xl, $df-btn-border-radius-xl);
}
// btn-link
// Make a button look and behave like a link
.btn-link {
  &:focus,
  &.focus {
    box-shadow: $btn-focus-box-shadow; // override
  }

  @include hover {
    background-color: $df-btn-link-hover-bg-color;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    text-decoration: $df-btn-link-active-td;
    color: $link-hover-color; // add
  }

  &:disabled,
  &.disabled {
    pointer-events: auto; // override
    cursor: $df-btn-link-disabled-pointer; // add
    @include hover {
      text-decoration: $df-btn-link-hover-td;
      background-color: $df-btn-link-disabled-hover-bg-color;
    }
  }
}

