$df-listgroup-border-color: $gray-300 !default;
$df-listgroup-disabled-bg-color: $list-group-disabled-bg !default;
$df-listgroup-disabled-color: $list-group-disabled-color !default;
$df-listgroup-disabled-opacity: $df-disabled-opacity !default;
$df-listgroup-disabled-cursor: $df-disabled-cursor !default;
