@mixin df-dropdown-toggle($up, $down) {
  &#{$up} .dropdown-toggle:after {
    content: "\e92c"; // icon-angle-up
  }
  &#{$down} .dropdown-toggle:after {
    content: "\e929"; // icon-angle-down
  }
}

@mixin df-dropdown-orientation($ltr-right, $ltr-left) {
  .dropdown-toggle {
    padding-#{$ltr-right}: $df-dropdown-toggle-padding;
    &:after {
      margin-#{$ltr-left}: $df-dropdown-toggle-margin;
    }
    [class*="icon-"]:before {
      margin-#{$ltr-right}: $df-dropdown-toggle-margin;
    }
  }
  .dropdown-menu {
    text-align: #{$ltr-left};
  }
  .btn-primary.dropdown-toggle-split {
    border-#{$ltr-left}-color: $df-dropdown-toggle-border-color-primary;
  }
}
