$df-ol-padding-left: 2.5rem !default;
$df-ol-marker-content: counter(df-ol-counter) "." "\00a0 " !default;
$df-ol-marker-font-weight: $font-weight-bold !default;
$df-ol-marker-left: -1.75rem !default;
