
/**
 * Primary colors
 */
$dark-orange: #e95326 !default;
$light-blue: #9bcaeb !default;
$brown: #9e6900 !default;

$colors: () !default;
$colors: map-merge((
  "primary": $primary,
  "cyan": $cyan,
  "teal": $teal,
  "light-blue": $light-blue,
  "red": $red,
  "orange": $orange,
  "dark-orange": $dark-orange,
  "yellow": $yellow,
  "green": $green,
  "white": $white,
  "pink": $pink,
  "brown": $brown,
  "purple": $purple,
  "black": $black
), $colors);

/**
 * Grayscale
 */
$gray-50: #f2f2f2 !default;

$grays: () !default;
$grays: map-merge((
  "50": $gray-50,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

:root {
  @each $color, $value in $grays {
    --gray-#{$color}: #{$value};
  }
}

/**
 * Theme colors
 */
$light: $gray-50 !default;
$mystery: $purple !default;
$love: $pink !default;
$pacific: $light-blue !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "mystery": $mystery,
  "love": $love,
  "pacific": $pacific
), $theme-colors);

@function df-format-transform-name($color, $action, $params) {
  $name: $action;
  @each $param in $params {
    $name: $name + "-" + $param;
  }
  $name: $name + "-" + $color;
  @return $name;
}

@function df-transform-loop($arrayIn, $arrayOut, $action, $params...) {
  @each $color, $value in $arrayIn {
    $arrayOut: map-merge((
      df-format-transform-name($color, $action, $params): call(get-function($action), $value, $params...)
    ), $arrayOut);
  }
  @return $arrayOut;
}

// Hover color
$df-colors-transformed: () !default;
$df-hover-transform: "darken" !default;
$df-hover-transform-param: 5 !default;
$df-colors-transformed: df-transform-loop($colors, $df-colors-transformed, $df-hover-transform, $df-hover-transform-param);
$df-colors-transformed: df-transform-loop($theme-colors, $df-colors-transformed, $df-hover-transform, $df-hover-transform-param);

$df-active-transform: "darken" !default;
$df-active-transform-param: 10 !default;
$df-colors-transformed: df-transform-loop($colors, $df-colors-transformed, $df-active-transform, $df-active-transform-param);
$df-colors-transformed: df-transform-loop($theme-colors, $df-colors-transformed, $df-active-transform, $df-active-transform-param);

// init specific variables for dark-colors. For backward compatibility
$dark-primary: map-get($df-colors-transformed, $df-active-transform + "-" + $df-active-transform-param + "-primary") !default;

:root {
  --dark-primary: #{$dark-primary};
  --dark-orange: #{$dark-orange};
}

$df-bg-active-transform: "mix" !default;
$df-bg-active-transform-param1: $white !default;
$df-bg-active-transform-param2: 15 !default;
$df-colors-transformed: df-transform-loop($colors, $df-colors-transformed , $df-bg-active-transform, $df-bg-active-transform-param1, $df-bg-active-transform-param2);
$df-colors-transformed: df-transform-loop($theme-colors, $df-colors-transformed , $df-bg-active-transform, $df-bg-active-transform-param1, $df-bg-active-transform-param2);

$df-bg-hover-transform: "mix" !default;
$df-bg-hover-transform-param1: $white !default;
$df-bg-hover-transform-param2: 10 !default;
$df-colors-transformed: df-transform-loop($colors, $df-colors-transformed , $df-bg-hover-transform, $df-bg-hover-transform-param1, $df-bg-hover-transform-param2);
$df-colors-transformed: df-transform-loop($theme-colors, $df-colors-transformed , $df-bg-hover-transform, $df-bg-hover-transform-param1, $df-bg-hover-transform-param2);

$df-bg-transform: "mix" !default;
$df-bg-transform-param1: $white !default;
$df-bg-transform-param2: 5 !default;
$df-colors-transformed: df-transform-loop($colors, $df-colors-transformed , $df-bg-transform, $df-bg-transform-param1, $df-bg-transform-param2);
$df-colors-transformed: df-transform-loop($theme-colors, $df-colors-transformed , $df-bg-transform, $df-bg-transform-param1, $df-bg-transform-param2);

/**
 * Gradients
 */
$gradients : () !default;
$gradients: map-merge((
  "gradient-blue": ("from":$blue, "to":$cyan)
), $gradients);

// Keep for backward compatibility, must be change with version 8?
$df-primary-lighten-60: map-get($df-colors-transformed, $df-bg-hover-transform + "-" + $df-bg-hover-transform-param1 + "-" + $df-bg-hover-transform-param2 + "-" + "primary") !default;
