@import 'brand-color.mixins';

@each $color, $value in $grays {
  @include df-bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $gradients {
  @include bg-gradient-variant(".bg-#{$color}", map-get($value,"from"), map-get($value,"to"));
}

@each $color, $value in $colors {
  @include df-color-variant($color, $value); // add
  @include df-bg-variant(".df-bg-#{$color}", $value); // add
}

@each $color, $value in $theme-colors {
  @include df-color-variant($color, $value); // add
}
