@mixin df-color-variant($color, $value) {
  .df-color-#{$color} {
    color: $value !important;
  }
}

// Based on deprecated bg-variant
@mixin df-bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    &:hover,
    &:focus {
      background-color: darken($color, 10%) !important;
    }
  }
}
