@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant($white, theme-color-level($color, 0), $body-color);
  }

  .color-#{$color} {
    color: #{$value};
  }

  .swatch-#{$color} {
    background-color: #{$value};
    color: color-yiq($value);
  }
}

@each $color, $value in $colors {
  .swatch-#{$color} {
    background-color: #{$value};
    color: color-yiq($value);
  }
}

@each $color, $value in $grays {
  .swatch-#{$color} {
    background-color: #{$value};
    color: color-yiq($value);
  }
}
