$df-breadcrumb-height: 2rem !default;
$df-breadcrumb-sm-height: 1.75rem !default;
$df-breadcrumb-lg-height: 2.25rem !default;

$df-breadcrumb-item-padding: 0rem !default;
$df-breadcrumb-item-before-padding: 0rem .5rem !default;
$df-breadcrumb-item-before-content: none !default;
$df-breadcrumb-item-active-font-weight: 500 !default;
$df-breadcrumb-item-normal-font-weight: normal !default;
$df-breadcrumb-item-display: none !default;
$df-breadcrumb-item-two-last-items-display: inline !default;

$df-breadcrumb-icon-display: inline !default;
$df-breadcrumb-icon-color: $primary !default;
$df-breadcrumb-icon-margin: 0rem .5rem !default;
$df-breadcrumb-icon-angle-left-content: "\e92a" !default; // icon-angle-left
$df-breadcrumb-icon-angle-right-content: "\e92b" !default; // icon-angle-right
