$df-table-horizontal-padding: 1rem !default;
$df-thead-border-top: none !default;
$df-thead-border-bottom: 1px solid $gray-400 !default;
$df-tbody-cell-vertical-padding: .9rem !default;
$df-tbody-cell-vertical-padding-sm: .36rem !default;
$df-tbody-first-row-border-top: none !default;
$df-th-font-weight: 500 !default;
$df-thead-light-border-bottom: none !default;
