$df-interactive-media-padding: 0 !default;
$df-interactive-media-focused-background-color: $gray-50 !default;
$df-interactive-media-hover-background-color: $gray-100 !default;
$df-interactive-media-background-color: $white !default;
$df-interactive-media-hover-focus-text-decoration: underline !default;
$df-media-mr: 1em !default;
