.df-media-button-interactive {
  @include ltr {
    text-align: left;
  }
  @include rtl {
    text-align: right;
  }
  width: inherit;
  padding: $df-interactive-media-padding;
  border: none;
  background-color: $df-interactive-media-background-color;

  span, .card-text {
    color: $primary;
  }

  &:focus {
    background-color: $df-interactive-media-focused-background-color;

    .media-body > *, .card-body > * {
      text-decoration: $df-interactive-media-hover-focus-text-decoration;
    }
  }
  &:hover {
    background-color: $df-interactive-media-hover-background-color;

    .media-body > *, .card-body > * {
      text-decoration: $df-interactive-media-hover-focus-text-decoration;
    }
  }
}

.df-img-mr {
  @include ltr {
    margin-right: $df-media-mr;
  }
  @include rtl {
    margin-left: $df-media-mr;
  }
}
