$df-spinner-overflow: visible !default;
$df-spinner-circumference: 2.7rem !default;
$df-spinner-sm-circumference: $df-spinner-circumference / 1.5 !default;
$df-spinner-border-width: .19em !default;
$df-spinner-sm-border-width: $df-spinner-border-width / 2 !default;
$df-btn-lg-spinner-top: $btn-padding-y-lg !default;
$df-btn-lg-spinner-right: $btn-padding-y-lg * 1.25 !default;
$df-btn-lg-spinner-content: "" !default;