@import "pow";
@import "./colors-cached";

@function colorPre($color) {
  $color : $color / 255;
  @if $color < 0.03928 {
    @return $color / 12.92;
  } @else {
    $color: ($color + .055) / 1.055;
    @return poly-pow($color, 2.4);
  }
}

/// Returns the relative_luminance of `$color` as a float (between 0 and 1)
/// @param {Color} $color - Color
/// @return {Number}
/// @link http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef Reference
@function relative_luminance_uncached($color) {
  $value: (colorPre(red($color)) * .2126) + (colorPre(green($color)) * .7152) + (colorPre(blue($color)) * .0722) + 0.05;
  @return $value;
}

@function relative_luminance($color) {
  $value: map-get($cached, "#{$color}"); //convert color into string of the expanded color.
  @if ($value == null) {
    $value: relative_luminance_uncached($color);
    $cached: map-merge((#{$color}: #{$value}), $cached);
    //Uncomment below to recreate cache
    @debug '  "#{$color}": #{$value},';
  }
  @return $value;
}

// returns white or black color, based on the one which has the best contrast ratio
// with the given color
@function black-or-white($background) {
  $l1: relative_luminance($background);
  $l2: relative_luminance($yiq-text-light);
  $wcag: null;
  @if ($l1 > $l2) {
    $wcag: $l1 / $l2;
  } @else {
    $wcag: $l2 / $l1;
  }
  @if ($wcag > $df-color-yiq-wcag-threshold) {
    @return $yiq-text-light;
  } @else {
    @return $yiq-text-dark;
  }
}

@function black-or-white-or-color($color, $background) {
  $l1: relative_luminance($color);
  $l2: relative_luminance($background);
  $wcag: null;
  @if ($l1 > $l2) {
    $wcag: $l1 / $l2;
  } @else {
    $wcag: $l2 / $l1;
  }
  @if ($wcag > $df-color-yiq-wcag-threshold) {
    @return $color;
  } @else {
    @return black-or-white($background);
  }
}
