@mixin rtl  {
  @if $df-enable-rtl {
    [dir=rtl] & {
      @content;
    }
  }
}

@mixin ltr {
  @if $df-enable-rtl {
    [dir=ltr] &, html:not([dir=rtl]) & {
      @content;
    }
  } @else {
      @content;
  }
}
