@import "./colors";
@import "./colors-cached";

$yiq-text-dark: #000;
$yiq-text-light: #fff;

$index: 0;
$hexes: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "a": 10,
  "b": 11,
  "c": 12,
  "d": 13,
  "e": 14,
  "f": 15
);
@function numberFromTwoHexes($string) {
  @return map-get($hexes, str-slice($string, 1, 1)) * 16 + map-get($hexes, str-slice($string, 2, 2));
}

$literals: (
  'black' : black,
  'gray' : gray,
  'white' : white,
  'silver' : silver,
  'lightgray' : lightgray
);

div {
  @each $key, $value in $cached {
    $color : transparent;
    @if(str-slice($key, 1, 1) == "#") {
      $red: numberFromTwoHexes(str-slice($key, 2, 2) + str-slice($key, 2, 2));
      $green: numberFromTwoHexes(str-slice($key, 3, 3) + str-slice($key, 3, 3));
      $blue: numberFromTwoHexes(str-slice($key, 4, 4) + str-slice($key, 4, 4));
      @if(str-length($key) > 4) {
        $red: numberFromTwoHexes(str-slice($key, 2, 3));
        $green: numberFromTwoHexes(str-slice($key, 4, 5));
        $blue: numberFromTwoHexes(str-slice($key, 6, 7));
      }
      $color: rgb($red, $green, $blue);
    }
    @else {
      $color : map-get($literals, $key);
    }
    --test-#{$index}-argument: #{$key};
    --test-#{$index}-argument-parsed: #{$color};
    --test-#{$index}-actual: #{$value};
    --test-#{$index}-expected: #{relative_luminance_uncached($color)};
    $index : $index + 1;
  }
}
