$df-skip-links--shadow: $df-box-shadow !default;
$df-skip-links--border-radius: $border-radius !default;
$df-skip-links--top: 1.25rem !default;
$df-skip-links--left: 0.625rem !default;
$df-skip-links--min-width: 12.5rem !default;
$df-skip-links--zindex: $df-zindex-topmost !default;
