@import "variables";
@import "vendor/bootstrap/mixins";
@import "bootstrap/mixins-override";
@import "vendor/bootstrap/root";
@import "components/fonts/fonts-family";
@import "components/fonts/multi-lang.mixins";
@import "common.mixins";

@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/code";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/forms";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/button-group";
@import "vendor/bootstrap/input-group";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/breadcrumb";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/jumbotron";
@import "vendor/bootstrap/alert";
@import "vendor/bootstrap/progress";
@import "vendor/bootstrap/media";
@import "vendor/bootstrap/list-group";
@import "vendor/bootstrap/close";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/tooltip";
@import "vendor/bootstrap/popover";
@import "vendor/bootstrap/carousel";
@import "vendor/bootstrap/spinners";
@import "vendor/bootstrap/utilities";

@import "common";

@import "components/accordion/accordion";
@import "components/fonts/icon-font";
@import "components/fonts/fonts";
@import "components/separator/separator";
@import "components/button/button";
@import "components/media/media";
@import "components/modal/modal";
@import "components/typeahead/typeahead";
@import "components/alert/alert";
@import "components/datepicker/datepicker";
@import "components/form/form";
@import "components/pagination/pagination";
@import "components/badge/badge";
@import "components/icon/amadeus-icon";
@import "components/navbar/navbar";
@import "components/tabs/tabs";
@import "components/checkbox/checkbox";
@import "components/radio/radio";
@import "components/toggle/toggle";
@import "components/inputs/inputs";
@import "components/card/card";
@import "components/list-group/list-group";
@import "components/brand-color/brand-color";
@import "components/link/link";
@import "components/table/table";
@import "components/fieldset/fieldset";
@import "components/popover/popover";
@import "components/slider/slider";
@import "components/select/select";
@import "components/dropdown/dropdown";
@import "components/collapse/collapse";
@import "components/progressbar/progressbar";
@import "components/spinner/spinner";
@import "components/tooltip/tooltip";
@import "components/rating/rating";
@import "components/speechbubble/speechbubble";
@import "components/list/list";
@import "components/skip-links/skip-links";
@import "components/breadcrumbs/breadcrumbs";
@import "components/stepper/stepper";

@import "bootstrap/rtl-styles-override";
@import "bootstrap/modifiers";
@import "bootstrap/close";

body {
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0,0,0,0); // 6
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg; // 2
}

// this css is needed when modal are open to have no scroll on the background.
.df-modal-open {
  overflow: hidden;
}
