$df-speech-size: 2.25em !default;
$df-speech-bubble-height: 1.5em !default;
$df-speech-border-radius: 0.25em !default;
$df-speech-padding-y: .375em !default;
$df-speech-padding-x: 1em !default;
$df-speech-gap: 0.28em !default;
$df-speech-tail-factor: 1.11 !default;
$df-speech-interlocutor-color: $gray-50 !default;
$df-speech-user-color: $primary !default;
$df-speech-btn-background-color: $white !default;
$df-speech-btn-padding: 0.125em !default;
$df-speech-btn-border-radius: 0 !default;
$df-speech-btn-border: 0 !default;
$df-speech-btn-position: relative !default;
$df-speech-btn-z-index: 1 !default;
