@mixin speech-color($color) {
  ul::after, li {
    background: $color;
    color: color-yiq($color);
  }
  li:last-child::after {
    border-bottom-color: $color;
  }
}

@mixin speech-orientation($tail, $radius) {
  li:last-child::after {
    border-#{$tail}: $df-speech-tail-factor * $df-speech-gap solid transparent;
    #{$tail}: - $df-speech-gap;
  }
  &.df-speech {
    li:last-child {
      border-radius: $radius;
    }
    ul::after {
      #{$tail}: - $df-speech-size;
    }
  }
}

.df-speech-btn {
  &.btn {
    margin-top: $df-speech-btn-padding;
  }
  border-radius: $df-speech-btn-border-radius;
  border: $df-speech-btn-border;
  background: $df-speech-btn-background-color;

  //Outline overlaps surroundings
  position: $df-speech-btn-position;
  &:focus {
    z-index: $df-speech-btn-z-index;
  }
}

.df-speech {
  ul {
    display: inline-block;
    //Deactivate default ul styling
    list-style-type: none;
    padding: 0;
    margin: 0;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      margin-bottom: $df-speech-gap;
      width: $df-speech-size;
      height: $df-speech-size;
      border-radius: 100%;
      display: none; //Avatar is by default disabled
    }
  }

  li {
    padding: $df-speech-btn-padding;
    line-height: $df-speech-bubble-height;
    border-radius: $df-speech-border-radius;
    margin: $df-speech-gap 2 * $df-speech-gap;
    &:last-child  {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 2 * $df-speech-tail-factor * $df-speech-gap solid;
      }
    }
  }

  p {
    padding: $df-speech-padding-y $df-speech-padding-x;
    margin-bottom: 0;
  }
}
$tail-left: 'left';
$radius-left: $df-speech-border-radius $df-speech-border-radius $df-speech-border-radius 0;
$tail-right: 'right';
$radius-right: $df-speech-border-radius $df-speech-border-radius 0 $df-speech-border-radius;
.df-speech-left {
  @include ltr {
    @include speech-orientation($tail-left, $radius-left);
  }
  @include rtl {
    @include speech-orientation($tail-right, $radius-right);
  }
}

.df-speech-right {
  @include ltr {
    @include speech-orientation($tail-right, $radius-right);
  }
  @include rtl {
    @include speech-orientation($tail-left, $radius-left);
  }
}

.df-speech-interlocutor {
  @include speech-color($df-speech-interlocutor-color);
  @extend .df-speech-left;

  //Enable avatar
  &.df-speech {
    ul {
      @include ltr {
        left: $df-speech-size;
      }
      @include rtl {
        right: $df-speech-size;
      }
      position: relative;
      &::after {
        display: inherit;
      }
    }
  }
}

.df-speech-user {
  @include speech-color($df-speech-user-color);
  @extend .df-speech-right;
}
