$df-popover-margin: 0.625rem !default;
$df-popover-max-width-mobile: 270px !default;
$df-popover-max-width: 50vw !default;

$df-popover-header-sm-margin: 1.25rem 1.25rem 0.875rem !default;
$df-popover-body-sm-margin: 0.875rem 1.25rem 1.25rem !default;

$df-popover-header-default-margin: 1.5rem 1.5rem 1rem !default;
$df-popover-body-default-margin: 1rem 1.5rem 1.5rem !default;

$df-popover-header-lg-margin: 1.75rem 1.75rem 1.125rem !default;
$df-popover-body-lg-margin: 1.125rem 1.75rem 1.75rem  !default;
