$df-badge-color-list: "success", "danger", "warning", "info", "light", 
"dark", "purple", "pink", "orange", "yellow", "blue", "white", "light-blue";

// Closable feature
$df-badge-close-font-size: $badge-font-size !default;
$df-badge-close-border: none !default;
$df-badge-close-padding: $badge-padding-y !default;
$df-badge-interactive-close-padding-left: 0.38em !default;

$df-df-badge-dot-font-size: 0.8em !default;
$df-df-badge-dot-margin-right: 0.38em !default;
