@import '../projects/design-factory/src/design-factory-utilities';
// 0.0625rem --> 1px border-width
$df-superheader-expanded-height: ($df-navbar-height * 2) + ($df-superheader-firstnav-padding-y * 2) + 0.0625rem !default;
$df-superheader-height: $df-navbar-height + ($df-superheader-firstnav-padding-y * 2) + 0.0625rem !default;
$df-page-banner-background: mix($info, $white, 7%) !default;
$df-page-banner-height: 300px !default;
