/* You can add global styles to this file, and also import other style files */
$df-enable-rtl: true;
$font-path: "../projects/design-factory/src/assets/fonts";
@import '../projects/design-factory/src/design-factory';
@import 'variables';

body {
  margin: 0px;
}

// Remove outline for skip to content targets
#content, #components, #nav {
  outline: none;
}

// TO BE ADDED WHEN API FEATURE WILL BE SET
// icon in title...from ng-bootstrap
// div.api-doc-component, .overview {
//   margin-bottom: 3rem;

//   h2,
//   h3 {
//     .github-link {
//       transition: opacity 0.5s;
//       opacity: 0.3;
//       margin-left: .5rem;
//     }

//     &:hover {
//       .github-link {
//         opacity: 1;
//       }
//       & > .title-fragment {
//         opacity: 1;
//       }
//     }
//   }

//   section, df-demo-overview-section {
//     margin-top: 3rem;
//     h4 {
//       margin-top: 2rem;
//       margin-bottom: 1rem;
//     }

//     .meta {
//       font-size: 0.8rem;
//       margin-bottom: 1rem;
//       > div {
//         margin-bottom: 0.5rem;
//       }
//     }
//   }
// }

a.title-fragment {
  opacity: 0;
  transition: opacity 125ms ease;
  line-height: inherit;
  position: absolute;
    
  @include ltr {
    margin-left: -1.2em;
    padding-right: 0.5em;
  }

  @include rtl {
    margin-right: -1.2em;
    padding-left: 0.5em;
  }

  & > img {
    width: 1em;
    height: 1em;
  }

  // for the icon in tab in component
  .noafter:after {
    display: none
  }
}

// OVERRIDE PRISM COLORS TO BE WCAG
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: $green !important;
}
.token.atrule, .token.attr-value, .token.keyword {
  color: $blue !important;
}
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: $pink !important;
}
.token.punctuation {
  color: $gray-800 !important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: white !important;
}

.information {
  color: $info;
  font-style: italic;
}

// You need to manually remove the text-decoration and add the color and margin you want
// display: inline-block is mandatory to remove the underline

.df-icon-template-arrow {
  display:inline-block;
  text-decoration: none;
  color: $gray-400;
}

.df-icon-template-plane {
  display:inline-block;
  text-decoration: none;
  color: #9CCAEB;
}


/* custom CSS added by Piotr */




html {
  //font-size: 14px;

  &.touch {
    font-size: 18px;

    body {
      font-size: 16px;
    }
  }
}
body {
  font-size: 14px;
  background-color: #f5f5f5;

}


.btn {
  font-weight: 500;
}





.navbar-light .navbar-nav .nav-link {
    color: $body-color;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active
{
  font-weight: 500;
  border-left: 0;
}



.navbar {
  box-shadow: none;
}

.navbar-brand {
  min-height: 3.5rem;

  @media (min-width: map-get($grid-breakpoints, xxl)) {  
      //min-height: 4rem;
  }

  .amadeus-logo {
    height: 1rem;
  }
}

.card-title {
  margin-top: -0.25rem;
}

label {
  margin-bottom: 0.25rem;
}

.font-weight-semibold {
 font-weight: 500;
}

hr {
  margin: 1rem 0 1rem 0;
}

ul, ol, dl {
  padding-left: 1.75rem;
}

.font-16 {
  font-size: 1rem;
}

.custom-select-sm {
  padding-right: 1rem;
}

.list-group-item {
  border-color: #ccc;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;


  &.active {
    background-color: rgba($primary, 0.05);
    border-color: #ccc;
    color: $primary;
    border-left: 3px solid $primary;
  }

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    color: inherit;
  }
}

.icon-btn {
  background-color: rgba($primary, 0.05);
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  border-radius: 25px;

  &:hover {
    background-color: rgba($primary, 0.1);
  }

}


.card {
  &.collapseable {
    .card-title {
     
      margin-bottom: 0;
        
      
    }

  }

  .card-title {
   margin-top: 0;
    line-height: 1.2;
  }

  .card-body {
    padding: 1rem 1.25rem; 
  }
}

hr {
  border-color: #ccc;
}


.badge {
  text-transform: none;
}

.guest_name_initials {
  width: 56px;
  height: 56px;
  background-color: $gray-100;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
}

.page-footer {
  min-height: 4.1rem;

  .btn {
    font-size: 16px;
  }
}



// flyout


.flyout {
    left: 0;
    position: fixed;
    right: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;

    .nav-menu {
      
        li {
          list-style: none;
        }
      
    }
}

.flyout.right {
    left: auto;
    right: 0;
    transform: translateX(100%);
}

.flyout.show {
    transform: translateX(0%);
     box-shadow: 2px 0 8px 0  rgba(0, 0, 0, .2);
     z-index: 1040;

     .list-group-item{
      //border-left: 0;
      border-right: 0;
     }
}

.flyout-backdrop {
    //background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    //z-index: 1040;

}

.navbar-flyout {
    background-clip: padding-box;
    background-color: inherit;
    border-right: 1px #ccc;
    bottom: 0;
    //padding: 1rem;
    top: 0;
    

}

.navbar-flyout.right {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
}
