@import "../link/link.mixins";

a.df-collapse[aria-disabled="true"] {
  color: $df-collapse-disabled-color;
  display: $df-collapse-disabled-display;
  cursor: $df-collapse-disabled-cursor;
  text-decoration: $df-collapse-disabled-text-decoration;

  // Links styles override
  border: none;
}

// Links styles override
a.df-collapse {
  display: inline-flex;
  align-items: center;

  &:link, &:visited {
    color: $df-link-color;
    text-decoration: $link-decoration;
    border-bottom: $df-collapse-hover-border-bottom transparent;
  }

  &:hover, &:active, &:visited:hover {
    @include df-link();
  }

  [class^="icon-"], [class*=" icon-"] {
    vertical-align: inherit;
  }
}
