$df-collapse-disabled-color: $df-disabled-color !default;
$df-collapse-disabled-display: inline-block !default;
$df-collapse-disabled-cursor: $df-checkbox-disabled-cursor !default;
$df-collapse-disabled-text-decoration: none !default;
$df-collapse-hover-border-bottom: $df-link-hover-border-bottom-width solid !default;
