hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  // TODO - Remove these separators in next major release : 9.0
  &.separator-md {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &.separator-lg {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  &.separator-xl {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @each $id, $dimension in $spacers {
    $code: $id;
    @if type-of($id) == "number" {
      @if  $id < 10 {
        $code: "0" + $id;
      }
    }
    &.spacing-#{$code} {
      margin-top: $dimension;
      margin-bottom: $dimension;
    }
  }
}

.vertical-separator {
  width: $hr-border-width;
  background-color: $hr-border-color;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  height: 100%;

  // TODO - Remove these separators in next major release : 9.0
  &.separator-md {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &.separator-lg {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  &.separator-xl {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @each $id, $dimension in $spacers {
    $code: $id;
    @if type-of($id) == "number" {
      @if  $id < 10 {
        $code: "0" + $id;
      }
    }
    &.spacing-#{$code} {
      margin-left: $dimension;
      margin-right: $dimension;
    }
  }
}
