$df-card-focusable-border: $border-width solid $border-color !default;
$df-card-focusable-border-hover: $border-width solid $primary !default;
$df-card-focusable-border-active: $border-width solid $dark-primary !default;
$df-card-focusable-border-radius: $border-radius-sm !default;
$df-card-focusable-color: $body-color !default; // todo is it linked to body-color ?
$df-card-focusable-background: transparent !default;
$df-card-focusable-text-align: left !default;
$df-card-focusable-disabled-color: $df-disabled-color !default;
$df-card-focusable-disabled-opacity: $df-disabled-opacity !default;
$df-card-focusable-disabled-cursor: $df-disabled-cursor !default;
$df-card-focusable-disabled-background: $df-disabled-bg-color !default;
